<h3 class="d-flex justify-content-center mb-2">
    Filters
</h3>
<div class="d-flex justify-content-center mb-3">
    <input class="btn btn-primary btn-sm" style="margin-right: 3px;" type="button" value="Both"></input>
    <input class="btn btn-primary btn-sm" style="margin-right: 3px;" type="button" value="Only Listings"></input>
    <input class="btn btn-primary btn-sm" style="margin-right: 3px;" type="button" value="Only Requests"></input>
</div>


