<input id="search-bar" class="w-100 mb-1" type="text" placeholder="Search for listing or request...">
<ul id="search-list" class="list-group position-absolute overflow-auto" style="z-index: 99; max-height: 300px;">
    <button id="load-more" class="list-group-item list-group-item-action text-center text-primary" style="display:none">Load more</button>
</ul>
<div id="filter_menu" class="btn-group mb-3" role="group">
    <button id="both" class="btn btn-primary btn-sm active">Both</button>
    <button id="listing_only" class="btn btn-primary btn-sm">Only Listings</button>
    <button id="request_only" class="btn btn-primary btn-sm">Only requests</button>
</div>
