<div id="filter_menu" class="btn-group mb-3" role="group">
    <button id="both" class="btn btn-primary btn-sm active">Both</button>
    <button id="listing_only" class="btn btn-primary btn-sm">Only Listings</button>
    <button id="request_only" class="btn btn-primary btn-sm">Only requests</button>
</div>
