<% if (counter === 0) { %>
    <div class="mb-3">
      <small class="text-muted">We don't currently have any listings for this category.</small>
    </div>
    <div class="mb-3">
        <a
        class="btn btn-primary"
        role="button"
        href="/create_listing"
        >Be the first!</a>
    </div>
<% } %>  