<% if (counter === 0) { %>
    <div class="mb-3">
      <small class="text-muted">We don't currently have any requests for this category.</small>
    </div>
    <div class="mt-2 mb-3">
        <a
        class="btn btn-primary"
        role="button"
        href="/home/create_listing"
        >Be the first!</a>
    </div>
<% } %>  