<body>
    <p>Request id</p>
    <input id="request" type="text" name="request" />
    <button id="delete_request">Submit</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="client.js"></script>
</body>