<!-- 
  ===========  login.ejs (Login Page) ============= 
  DESC:
  Creates the login page to link to the authentication
  for purdue domain checking

  PARAMETERS:
  None

  RETURNS:
  Login Page
  ================================================
-->

<!DOCTYPE html>
<html lang="en">
  <head style="padding-top: 0vh">
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="main" style="background-image: url(images/login_bg.png)">
        <!-- vh-100: sets the card in the middle of the screen with the background taking up everything -->
        <div class="container vh-100">
          <div class="row align-items-center justify-content-center vh-100">
            <div
              class="card shadow-2-strong"
              style="
                border-radius: 1rem;
                opacity: 0.85;
                padding-top: 5vh;
                padding-bottom: 5vh;
              "
            >
              <div class="card-body p-5 text-center">
                <h3 class="mb-5" style="font-size: calc(2vw + 2vh + 1.5vmin)">
                  <b>Welcome to pBay</b>
                </h3>
                <button
                  class="btn btn-primary"
                  type="submit"
                  href="#"
                  style="
                    width: fit-content;
                    padding: 10px 25px 10px 25px;
                    font-size: calc(1vw + 1vh + 0.5vmin);
                  "
                >
                  Login
                </button>
                <div
                  style="
                    padding-top: 40px;
                    font-size: calc(0.75vw + 0.75vh + 0.5vmin);
                  "
                >
                  <b
                    ><i
                      >Make sure to sign in with your Purdue email account!</i
                    ></b
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
    <%- include('../partials/scripts'); %>
  </body>
</html>
