<form action="/create_listing" method="post" enctype="multipart/form-data" >
    <p>Title</p>
    <input type="text" name="title" required>
    <p>Desc</p>
    <input type="text" name="desc" required>
    <p>Location</p>
    <input type="text" name="location" required>
    <p>Phone Number</p>
    <input type="text" name="phoneNumber" required>
    <p>Price</p>
    <input type="text" name="price" required>
    <p>Img</p>
    <input type="file" name="img" required>
    <input type="submit" required>
</form>