<body>
    <p>Target</p>
    <input id="target" type="text" />
    <button id="socket-connect">Connect</button>

    <ul id="messages"></ul>

    <p>Message</p>
    <input id="message" type="text" />
    <button id="send_msg">Send message</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="client.js"></script>
</body>