<body>
    <p>Title</p>
    <input id="title" type="text" name="title" required />
    <p>Desc</p>
    <input id="desc" type="text" name="desc" required />
    <button id="submit_request">Submit</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="client.js"></script>
</body>