<body>
    <p>Listing</p>
    <input id="listing" type="text" name="listing" />
    <p>Title</p>
    <input id="title" type="text" name="title" />
    <p>Desc</p>
    <input id="desc" type="text" name="desc" />
    <p>Location</p>
    <input id="location" type="text" name="location" />
    <p>Phone Number</p>
    <input id="phoneNumber" type="text" name="phoneNumber" />
    <p>Price</p>
    <input id="price" type="text" name="price" />
    <p>Img</p>
    <input id="img" type="file" name="img" />
    <button id="submit_edit">Submit</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="client.js"></script>
</body>