<body>
    <p>Listing id</p>
    <input id="listing" type="text" name="listing" />
    <button id="delete_listing">Submit</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="client.js"></script>
</body>