<!-- 
  ===========  chat.ejs ============= 
  DESC:
  Allows the user to chat between another user
  by sending text messages

  PARAMETERS:
  messages

  RETURNS:
  chat room page
  ===========================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div id="chat" class="main">
        <div 
        class="container"
        style="padding-top: 120px; padding-bottom: 60px; position: relative; min-height: 100vh;">
          <div id = "messages" class="row row-cols-1 row-cols-md-1 g-2">
          </div>
          <div class="input-group fixed-bottom">
            <textarea id="msg-body" class="form-control" placeholder="Enter your message..."></textarea>
            <button id="send-msg" class="btn btn-primary btn-sm" type="submit">
              Send
            </button>
          </div>
        </div>
      </div>
    </main>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
     <%- include('../partials/scripts'); %>
  </body>
</html>