<!-- 
  ===========  profile.ejs ============= 
  DESC:
  Allows the user to find out how many posts have been made,
  what their email address is, and links to their messages

  PARAMETERS:
  None

  RETURNS:
  Profile Page
  ===========================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="main">
        <div 
        class="container"
        style="padding-top: 120px; position: relative; min-height: 100vh">
          <h1 class="mb-10">
              Profile Details
          </h1>
        <div class="card" style="width: 50%;">
            <img class="card-img-top"  src="images/default_profile.png" alt="Hello">
            <h5 class="card-title">
                User-Name
            </h5>
            <small class="text-muted">purdue email address</small>
            <h6>
                Stats
            </h6>
            <p>
                
            </p>
        </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
     <%- include('../partials/scripts'); %>
  </body>
</html>