<!-- ***************THIS IS ONLY TO BE USED AS A TEMPLATE************* -->
<!-- 
  ===========  Title ============= 
  DESC:

  PARAMETERS:

  RETURNS:
  ===========================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="main">Here Goes the stuff</div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
     <%- include('../partials/scripts'); %>
  </body>
</html>
<!-- ***************************************************************** -->
