<!-- 
  ===========  Footer Partial ============= 
  DESC:
  Creates a footer at the end of the document
  for information that includes but is not
  limited to copyright, terms of service, ect.

  PARAMETERS:
  None

  RETURNS:
  A footer instance
  ===========================
-->
<p class="text-center text-muted">&copy; Zack Bostock & Jack Saysana 2022</p>