<!-- 
  ===========  Footer Partial ============= 
  DESC:
  Creates a footer at the end of the document
  for information that includes but is not
  limited to copyright, terms of service, ect.

  PARAMETERS:
  None

  RETURNS:
  A footer instance
  ===========================
-->
<footer class="bg-light text-start text-lg-start">
  <!-- Grid container -->
  <div class="container" style="padding-bottom: 20px">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col">
        <h5 class="text-uppercase">Helpful Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Home</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Create A Post</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Terms and Conditions</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Report a Bug</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <p class="text-center text-muted">&copy; pBay 2022</p>
  </div>
  <!-- Copyright -->
</footer>
