<!-- 
  ===========  Head Partial ============= 
  DESC:
  Returns the Head of the file, with information
  for the charset, title of the tab, and icon to
  be displayed on the tab

  PARAMETERS:
  None

  RETURNS:
  Head instance
  ===========================
-->
<meta charset="UTF-8" />
<title>pBay</title>
<head>
  <link rel="icon" href="logo.png" />
</head>

<style>
  body {
    padding-top: 1vh;
  }
</style>
