<!-- 
  ===========  NavBar ============= 
  DESC:
  Creates a responsive navbar that includes
  links to the home page, creation of a listing,
  search (future), messages (TBD)
  Note: 106 px height fixed

  PARAMETERS:
  None

  RETURNS:
  A NavBar instance
  ===========================
-->
<nav
  class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark"
  style="font-weight: bolder"
>
  <div class="container-fluid">
    <!-- 
    ********* Navbar-Brand: logo **********
    DESC:
    -> Houses the logo for pBay
    -> Can be used as a redirect
    *******************************
    -->
    <a class="navbar-brand" href="#">
      <img
        src="logo.png"
        width="70"
        height="80"
        alt="There should be an image here"
      />
    </a>
    <!-- 
    ********* Offcanvas Transition **********
    DESC:
    -> Creates offcanvas "slide over"
    -> STATUS: Inoperable
    See note in: index.js
    *******************************
    -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
