<!-- 
  ===========  NavBar ============= 
  DESC:
  Creates a responsive navbar that includes
  links to the home page, creation of a listing,
  search (future), messages (TBD)
  Note: 106 px height fixed

  PARAMETERS:
  None

  RETURNS:
  A NavBar instance
  ===========================
-->
<nav
  class="navbar fixed-top navbar-dark bg-dark"
  style="font-weight: bolder"
>
  <div class="container-fluid">
    <!-- 
    ********* Navbar-Brand: logo **********
    DESC:
    -> Houses the logo for pBay
    -> Can be used as a redirect
    *******************************
    -->
    <a class="navbar-brand" href="#">
      <img
        src="images/logo.png"
        width="70"
        height="80"
        alt="There should be an image here"
      />
    </a>
    <!-- 
    ********* Offcanvas Transition **********
    DESC:
    -> Creates offcanvas "slide over"
    *******************************
    -->
    <form class="form-inline my-0 my-lg-0 order-lg-2 ms-auto">
      <div class="d-flex justify-content-end">
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </form>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Options</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body text-black">
        FUCKKKKKKKKKKKKKK
    </div>
  </div>
</nav>
